<h1 class = "table"> TABLE </h1>


    {{!-- <tbody>
        {{#each data as |res|}}
        <tr>
            <td>
                {{res.name}}
            </td>
            <td>
                {{res.age}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table> --}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
       {{#each employees as |emp|}}
     <tr>
     <th scope="row">{{emp.id}}</th>
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.age}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- <button type="button" class="delete" onclick={{route-action 'delete'}}>Delete</button> --}}

<button type="button" onclick= {{route-action 'add' }}>Add</button>
{{outlet}}